{
  "presets": [
    [
      "@babel/preset-env",
      {
        "shippedProposals": true,
        "targets": {
          "node": "current"
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [["@babel/plugin-transform-react-jsx", { "runtime": "automatic" }]]
    }
  }
}
